body{
background-color:#ABCDEF;
}
#gora{
background-color:grey;
height:100px;
color:darkblue;
padding:20px;
text-align:center;

}
#lewy{
background-color:lightgreen;
height:1600px;
width:30%;
float:left;
}
#prawy{
background-color:lightgreen;
height:1600px;
width:20%;
float:left;
}
#srodek{
background-color:cyan;
height:1600px;
width:50%;
float:left;
}

#stopka{
background-color:black;
height:50px;
clear:both;
text-align:right;
}
#stopka p{
color:white;
}
.pole{
    background-color:lightblue;
    border-radius:7px;
    border:2px double red;
    width:150px;
    height:30px;
    font-size:18px;
    font-weight:bold;
    color:darkblue;
}
.przycisk{
    background-color:black;
    border-radius:10px;
    width:200px;
    height:50px;
    font-size:18px;
    font-weight:bold;
    color:lightgray;
    border:1px solid red;
}
.przycisk:hover{
    color:gray;
    border:4px solid red;
}