body{
background-color:#ABCDEF;
}
#gora{
background-color:grey;
height:100px;
color:darkblue;
padding:20px;
text-align:center;

}
#lewy{
background-color:lightgreen;
height:1600px;
width:30%;
float:left;
}
#prawy{
background-color:lightgreen;
height:1600px;
width:20%;
float:left;
}
#srodek{
background-color:cyan;
height:1600px;
width:50%;
float:left;
}

#stopka{
background-color:black;
height:50px;
clear:both;
text-align:right;
}
#stopka p{
color:white;
}